<div class="cover">

  <%= form_tag experiences_path, class: "flex-form", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Explore new experiences"
    %>
    <%= date_field_tag 'date' %>
    <%= label_tag 'Guests' %>
    <%= select_tag "Guests", raw("<option>1</option><option>2</option><option>3</option><option>4</option>") %>
    <%= submit_tag "Search", class: "search-button" %>
  <% end %>

</div>
