  <h2 style=" margin-left: 5vw; margin-bottom: 5vh;">Browse All Experiences</h2>

  <div class="card-map-container">

    <div class="cards col-6">
        <% @experiences.each do |experience| %>
            <div class="card-experience">
              <%= cl_image_tag experience.photos.first.key, crop: :fill %>
              <div class="card-info">
                <h5><%= experience.title %></h5>
                <h6> <%= experience.address %> </h6>
                <p><small><%= experience.duration %> hours | <%= experience.category.titleize %></small></p>
                <br>
                <p> <%= truncate experience.description, length: 200, separator: " " %></p>
              </div>
              <ul class="view-price">
                <li class="button"><%= link_to "View", experience_path(experience) %></li>
                <li>€<%= experience.price %>0 / hour</li>
              </ul>
            </div>
        <% end %>
    </div>

    <div class="map-container" id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
