  <h2 style=" margin-left: 5vw; margin-bottom: 5vh;">Browse All Experiences</h2>

  <div class="card-map-container">

    <div class="cards col-6">
        <% @experiences.each do |experience| %>
            <div class="card-experience">
              <%= cl_image_tag("sample") %>
              <div class="card-info">
                <h5><%= experience.title %></h5>
                <p>Barcelona | <%= experience.duration %> hours | <%= experience.category %></p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
              </div>
              <ul class="view-price">
                <li class="button"><%= link_to "View", experience_path(experience) %></li>
                <li><%= experience.price %>/hour</li>
              </ul>
            </div>
        <% end %>
    </div>

    <div class="map-container" id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
