
  <h2>Dashboard</h2>
  <br>

  <div class="links-left">
    <h4>Your Bookings</h4>
    <h5><%= link_to "My Bookings", dashboard_bookings_path %></h5>
    <h5><%= link_to "My Experiences", dashboard_path%></h5>
  </div>

  <div class="dashboard-list">
    <p class="pending-bookings">Pending Bookings: (<%= @dash_bookings.select{|booking| booking.status == 'pending' }.size %>)</p>
    <% bookings = @dash_bookings.sort_by! { |booking| booking.id } %>
    <% bookings.each do |booking| %>

    <div class="dashboard-list-item">

      <div class="dashboard-details">
        <p><strong><%= booking.experience.title.titleize %></strong></p>
        <p class="font-thin"><%= booking.start_time.strftime('%H:%M') %> - <%= booking.end_time.strftime('%H:%M') %> | <%= booking.start_time.strftime('%d/%m/%Y') %> | Booked by: <%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></p>
      </div>

      <div class="booking-status">
        <%= "Status: #{booking.status.capitalize}" %>
        <div class="markers">
          <% if booking.status == 'confirmed' %>
            <div class="status-marker confirm" style="background-color: lightgreen;">
              <%= link_to "✓", confirm_experience_booking_path(experience_id: booking.experience_id, id: booking.id) %>
            </div>
          <% else %>
            <div class="status-marker confirm">
              <%= link_to "✓", confirm_experience_booking_path(experience_id: booking.experience_id, id: booking.id) %>
            </div>
          <% end %>
          <% if booking.status == 'rejected' %>
            <div class="status-marker confirm" style="background-color: salmon">
              <div class="status-marker reject"><%= link_to "X", reject_experience_booking_path(experience_id: booking.experience_id, id: booking.id) %></div>
            </div>
          <% else %>
            <div class="status-marker confirm">
              <div class="status-marker reject"><%= link_to "X", reject_experience_booking_path(experience_id: booking.experience_id, id: booking.id) %></div>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <% end %>
  </div>
