  <h2>Dashboard</h2>
  <br>


  <div class="links-left">
    <h4>Your Experiences</h4>
    <h5><%= link_to "My Bookings", dashboard_bookings_path %></h5>
    <h5><%= link_to "My Experiences", "#"%></h5>
  </div>

  <div class="dashboard-list">

    <% @dash_experiences.each do |exp| %>

    <div class="dashboard-list-item">

      <div class="dashboard-details">
        <p><strong><%= exp.title.titleize %></strong></p>
        <p class="font-thin"><%= exp.category.capitalize! %> | € <%= exp.price %>0</p>
      </div>

      <div class="view-details">
        <%= link_to "View details", "#" %>
      </div>

    </div>

    <% end %>
  </div>
